input[id="txtInput"] {
  border-color: coral;
  width: 100%;
  height: 25px;
}
.tag-div {
  min-height: 40px;
  max-height: 68px;
  border-radius: 4px;
  padding: 10px;
  border: green 1px solid;
  overflow-y: auto;
  overflow-x: hidden; 
  .tag-block {
    display: inline-block;
  }
}